* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
.main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(24, 128, 207);
}

.container {
    width: 35rem;
    box-shadow: 0px 0px 5px grey;
    display: flex;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    flex-direction: column;
}

.col {
    text-align: justify;
    padding: 15px;
    width: 95%;
}

#submit {
    width: 100%;
    background-color: rgb(47, 8, 73);
    transition: 0.5s;
    color: white;
    outline: none;
    border: none;
    font-size: 25px;
    display: block;
    padding: 10px;
    cursor: pointer;
}

#submit:hover {
    background-color: rgb(34, 6, 53);
}

.box {
    box-shadow: 0px -1px 1px grey;
    width: 100%;
}

.content { margin-top:54px; }
.header {padding:15px; position:fixed; top:0; width:100%; z-index:9999; }
.left-title { width:80px; color:#FFF; font-size:18px; float:left; }
.right-title { width:150px; text-align:right; float:right; color:#FFF;  }
.quiz-body { margin-top:15px; padding-bottom:50px; }
.option-block-container { margin-top:20px; max-width:420px; }
.option-block { padding:10px; background:aliceblue; border:1px solid #84c5fe; margin-bottom:10px; cursor:pointer; }
.result-question { font-weight:bold; }
.c-wrong { margin-left:20px; color:#FF0000; }
.c-correct {  margin-left:20px; color:green; }
.last-row { border-bottom:1px solid #ccc; padding-bottom:25px; margin-bottom:25px; }
.res-header { border-bottom:1px solid #ccc; margin-bottom:15px; padding-bottom:15px; }

:root {
    --clr-primary: var(--blue-8);
  
    --clr-neutral-500: #1c232b;
    --clr-neutral-400: #28323e;
    --clr-neutral-300: #384656;
    --clr-neutral-200: #51657b;
    --clr-neutral-100: #e6eaef;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  body,
  h1,
  h2,
  h3,
  p {
    margin: 0;
  }
  
  body {
    display: grid;
    place-items: center;
    min-height: 100vh;
  
    background-color: var(--clr-neutral-500);
    color: var(--clr-neutral-100);
    accent-color: var(--clr-primary);
  
    font-family: system-ui, sans-serif;
    line-height: 1.5;
  }
  
  h1,
  h2,
  h3 {
    line-height: 1.1;
  }
  
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  
  /*------------------------------------*\
    #UTILITIES
  \*------------------------------------*/
  .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  
    border: 1px solid var(--clr-neutral-300);
    border-radius: var(--radius-2);
    padding: 0.6em 1.4em;
  
    background-color: transparent;
    color: var(--clr-neutral-100);
  
    font-weight: var(--font-weight-6);
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  
    cursor: pointer;
  }
  
  .btn:is(:hover, :focus-visible) {
    background-color: var(--clr-neutral-400);
  }
  
  /*------------------------------------*\
    #QUIZ
  \*------------------------------------*/
  .quiz {
    display: grid;
    gap: var(--size-4);
  
    width: min(100% - 1rem, 40rem);
    margin-block: 2rem;
    padding: var(--size-4);
  
    border: 1px solid var(--clr-neutral-300);
    border-radius: var(--radius-2);
  }
  
  #quiz-container {
    display: grid;
    gap: 1rem;
  }
  
  .quiz__answers {
    display: grid;
    gap: 0.5rem;
  }
  
  .quiz__answer {
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: var(--clr-neutral-400);
    padding-inline: 0.5em;
    border-radius: var(--radius-2);
    border: 1px solid var(--clr-neutral-300);
    overflow: hidden;
  }
  
  .quiz__answer:is(:hover, :focus-within) {
    background-color: var(--clr-neutral-300);
  }
  
  .quiz__answer > label {
    padding: 0.5em 1em;
  }
  
  .quiz__info {
    display: grid;
    gap: var(--size-2);
    align-items: center;
    justify-items: center;
  }
  
  @media (min-width: 30em) {
    .quiz__info {
      justify-items: start;
      grid-template-columns: 1fr auto;
    }
  }
  
  .quiz__time {
    font-family: var(--font-mono);
  }
  
  .hide {
    display: none;
  }
  