modules/node_modules/
modules/dist/
modules/package-lock.json/
modules/.vscode/
modules/package-lock.json
web-projects/ls_portfolio_old/node_modules/
web-projects/ls_portfolio_old/dist/
web-projects/ls_portfolio_old/package-lock.json/
web-projects/ls_portfolio_old/.vscode/
package-lock.json/
package-lock.json
/.idea
.vscode/*