.category-page{
  background-color: #404046;
  padding-top: 220px;
  overflow: hidden;
  .title-row{
    justify-content: space-between;
    margin-bottom: 60px;
    .filter-select{
      display: flex;
      .select-control{
        width: 200px;
        margin-left: 20px;
        .select-label{
          background-color: #404046;
        }
      }
    }
  }
  .content-sec{
    margin-bottom: 100px;
  }
}