// $bgcolor: salmon;
// $banBgPathAbt:image-url('../img/banner-fund-mngt.jpg');
$banBgPathAbt:url(../img/banner-fund-mngt.jpg) no-repeat left top;
// @import "quize";
// @import "normalize";
// @import "progress-steps.scss";
@import "form.scss";
@import "incrementing-counter.scss";
@import "movie-app.scss";
body{
    background-color:#00205c;
    font-family: Poppins;
    font-size: 13px;
    h1{font-size: 25px;}
    .top-banner-bg{background:$banBgPathAbt;height: 300px;}

}
.webGl{position: fixed;left: 0;top: 0;outline: none;}

