<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="style.css" />
  <title>ChaiAurCode</title>
  <style>
    #boxes ul li {
      color: #fff !important;
      display: block;
    }

    body {
      background: #fff !important;
    }

    form label {
      width: 100%;
      display: block;
    }
  </style>
</head>

<body>

  <!-- <div id="para">
      Toss Brussels sprouts, asparagus, green beans, and fennel with green
    </div>
    <h1 class="heading">Hello</h1>
    <div id="boxes" class="boxes big">
    </div>

    <button id="btn">
      ON CLICK
    </button> -->

  <!-- <div id="album">

  </div>

  <div class="container">

  </div>

  <ul id="data">

  </ul>
  <div>
    <input type="text" id="name" />
  </div>
  <div id="selectPara">
    <label for="">Select Drop Down</label>
    <p></p>
  </div>
  <form id="myForm">
    <label for="name">Name:</label>
    <input type="text" id="name1" name="name">

    <label for="select">Select an option:</label>
    <select id="select" name="select">
      <option value="option1">Option 1</option>
      <option value="option2">Option 2</option>
      <option value="option3">Option 3</option>
    </select>


    <label>Radio buttons:</label>
    <input type="radio" id="radio1" name="radio" value="optionA">
    <label for="radio1">Option A</label>
    <input type="radio" id="radio2" name="radio" value="optionB">
    <label for="radio2">Option B</label>

    <label>Checkboxes:</label>
    <input type="checkbox" id="checkbox1" name="checkbox1" value="optionX">
    <label for="checkbox1">Option X</label>
    <input type="checkbox" id="checkbox2" name="checkbox2" value="optionY">
    <label for="checkbox2">Option Y</label>

    <input type="submit" value="Submit">
  </form>

  <ul id="list">
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
    <li>Item 4</li>
  </ul>
  <button id="addItem">Add Item</button> -->

  <div id="buttons"></div>
  <ul id="album1">

  </ul>

<script>



</script>


</body>

</html>