<!DOCTYPE html>
<html>
   <head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title><%= htmlWebpackPlugin.options.title %></title>
	    <link rel="stylesheet" type="text/css" href="mystyle.css"/>
   </head>
   <body>
   		  <div class="wrapper">
	   		  <h1>Currency Tracker</h1>
	   		  <form onsubmit="handleClick(event)">
                <input
                    type="text"
                    id="currencyInput"
                    name="currencyCode"
                    placeholder="INR, EUR, CAD"
                    pattern="^[A-Z]{3}$"
                    autocomplete="off"
                    autofocus
                    required
                />    
                <input type="submit" value="Get Rate" />
            </form>
    
            <div id="results"></div>

   		  </div>  
 
<script>
   
</script>
   </body>
</html>