<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Count down Timer</title>
        <meta name="description" content="holiday count down calculator">
        <meta name="viewport" content="width=device-width, initial-scale=1">  
        <!-- <link rel="stylesheet" type="text/css" href="mystyle.css"> -->
         <style>
            #timer, #countDown, .event{
                font-size: 50px;color: #fff;
            }
            #countDown p, .event p{display: inline-block;}
         </style>
       
    </head>
	
	
    <body>
<div id="timer">
   
</div>
<div id="countDown" class="event">
    Loading countdown ....
</div>

<div id="countDown1" class="event">
    Loading countdown1 ....
</div>

<div id="countDown2" class="event">
    Loading countdown2 ....
</div>
		
    </body>
</html>
