<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
    <link href="./favicon.ico" rel="icon" />
    <meta content="" name="description" />
    <meta content="" name="keywords" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="icon" src="assets/img/favicon.ico" />
    <!-- {% block stylesheets %} -->
      <!-- <link href="{{ asset('./css/scss/index.css') }}" rel="stylesheet" /> -->
    <!-- {% endblock %} -->
  </head>
  <body data-barba="wrapper" >
    <div data-barba="container" data-barba-namespace="fade" data-background="#404046">
      <!-- <div class="transition">
        <h2>Cover Screen</h2>
      </div> -->
      <header id="wpHeader"></header>
      <main class="main-warpper category-page" >
        <div class="container">
          <div class="di-flex title-row">
            
            <h1 class="second-title">Films</h1>
            <div class="di-flex filter-select">
              <div class="select-control">
                <label for="category" class="select-label" >Categories</label>
                <select name="category-name" id="category">
                  <option>Films</option>
                  <option value="volvo">Films</option>
                  <option value="saab">Films</option>
                </select>
              </div>
              <div class="select-control">
                <label for="brandName" class="select-label" >Brands</label>
                <select name="brand-name" id="brandName">
                  <option>Select Brand</option>
                  <option value="volvo">Volvo</option>
                  <option value="saab">Saab</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <section class="content-sec">
          <div class="container">
            <div class="di-grid films-contain">
              <div class="filmes-card">
                <div class="image-content">
                  <img src="./img/1x1.jpg" class="tumb" alt="">
                  <div class="top-row">
                    <div class="dimond">
                      <img src="./img/king.png" alt="">
                    </div>
                    <div class="play-btn">
                      <img src="./img/play-btn-small.png" alt="">
                    </div>
                  </div>
                </div>
                <div class="title">#Take Off</div>
                <a href="#!" class="brand-link">Unwanted 21 Days</a>
              </div>
              <div class="filmes-card">
                <div class="image-content">
                  <img src="./img/1x1.jpg" class="tumb" alt="">
                  <div class="top-row">
                    <div class="dimond">
                      <img src="./img/king.png" alt="">
                    </div>
                    <div class="play-btn">
                      <img src="./img/play-btn-small.png" alt="">
                    </div>
                  </div>
                </div>
                <div class="title">#Take Off</div>
                <a href="#!" class="brand-link">Unwanted 21 Days</a>
              </div>
              <div class="filmes-card">
                <div class="image-content">
                  <img src="./img/1x1.jpg" class="tumb" alt="">
                  <div class="top-row">
                    <div class="dimond">
                      <img src="./img/king.png" alt="">
                    </div>
                    <div class="play-btn">
                      <img src="./img/play-btn-small.png" alt="">
                    </div>
                  </div>
                </div>
                <div class="title">#Take Off</div>
                <a href="#!" class="brand-link">Unwanted 21 Days</a>
              </div>
              <div class="filmes-card">
                <div class="image-content">
                  <img src="./img/1x1.jpg" class="tumb" alt="">
                  <div class="top-row">
                    <div class="dimond">
                      <img src="./img/king.png" alt="">
                    </div>
                    <div class="play-btn">
                      <img src="./img/play-btn-small.png" alt="">
                    </div>
                  </div>
                </div>
                <div class="title">#Take Off</div>
                <a href="#!" class="brand-link">Unwanted 21 Days</a>
              </div>
            </div>
          </div>
        </section>
      </main>
      <footer></footer>
    </div>
    <script>
    
    </script>
  </body>
</html>