/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font: normal 125% / 1.4 $text-font-stack;
}
a{
  text-decoration: none;
}
.di-flex{
  display: flex;
  flex-wrap: wrap;
}
img{
  max-width: 100%;
  margin: 0 auto;
  display: block;
  width: auto;
}
p,h1,h2,h3,h4,h5,h6{
  margin: 0;
}
.text-right{
  text-align: right;
}
